// Stolzl

@font-face {
    font-family: "Stolzl";
    src: url("../assets/fonts/Stolzl/stolzl_regular.woff2") format("woff2"),
        url("../assets/fonts/Stolzl/stolzl_regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


// GothamPro

@font-face {
    font-family: "Gotham Pro";
    src: url("../assets/fonts/GothamPro/gothampro_bold.woff2") format("woff2"),
        url("../assets/fonts/GothamPro/gothampro_bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../assets/fonts/GothamPro/gothampro_black.woff2") format("woff2"),
        url("../assets/fonts/GothamPro/gothampro_black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}