$font-stolzl: "Stolzl", sans-serif;
$font-gotham-pro: "Gotham Pro", sans-serif;

$brown-dark: #210E09;
$orange: #d5621d;
$border-color: rgba(255, 255, 255, 0.5);

$section-bottom: 150px;
$section-bottom-middle: 120px;
$section-bottom-mobile: 75px;