@charset "UTF-8";


@import "variables";
@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'core';


// blocks
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/party';
@import 'blocks/place';
@import 'blocks/footer';
@import 'blocks/poster';
@import 'blocks/events';
@import 'blocks/gallery';