.events {
    &__title {
        margin-bottom: 100px;

        @media (max-width: 767px) {
            margin-bottom: 70px;
        }
    }

    &__subtitle-wrapper {
        width: 261px;
        margin: 0 auto 40px;
    }

    &__section-title {
        font-family: $font-gotham-pro;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        margin-bottom: 80px;

        @media (max-width: 767px) {
            margin-bottom: 45px;
        }
    }

    &__corporate {
        &-list {
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            width: 816px;

            margin: 0 auto 100px;

            @media (max-width: 830px) {
                width: 100%;

                flex-wrap: wrap;
            }

            @media (max-width: 781px) {
                justify-content: center;
                row-gap: 25px;
            }

            @media (max-width: 767px) {
                margin: 0 auto 35px;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;

            min-height: 190px;
        }

        &-image {
            margin-bottom: 40px;

            @media (max-width: 767px) {
                margin-bottom: 25px;
            }
        }

        &-text {
            font-size: 20px;
            line-height: 150%;
            text-align: center;

            max-width: 376px;

            margin-top: auto;

            @media (max-width: 767px) {
                font-size: 16px;

                margin-top: inherit;
            }
        }
    }

    &__why-us {
        &__title {
            margin-bottom: 60px;

            @media (max-width: 767px) {
                margin-bottom: 35px;
            }
        }

        &__text {
            font-size: 18px;
            line-height: 150%;

            width: 607px;

            @media (max-width: 767px) {
                font-size: 15px;
            }

            @media (max-width: 650px) {
                width: 100%;
            }
        }

        &__item {
            padding-left: 30px;

            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: $orange;
                margin-right: 20px;

                top: 10px;
                left: 0;
            }

            &:not(:last-child) {
                margin-bottom: 22px;

                @media (max-width: 767px) {
                    margin-bottom: 16px;
                }
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-bottom: 150px;

            @media (max-width: 767px) {
                margin-bottom: 60px;
            }

            @media (max-width: 650px) {
                align-items: start;
            }
        }
    }
}