.gallery {
    margin-bottom: $section-bottom;

    &__item {
        position: relative;
        max-height: 350px;
        height: 100%;

        overflow: hidden;
    }

    &__link {
        transition: background-color 0.3s ease;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: transparent;
            transition: background-color 0.3s ease;
            z-index: 2;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover::before {
                background-color: rgba(33, 14, 9, 0.9);
            }
        }

        @media (min-width: 320px) and (max-width: 1023.98px) {
            &::before {
                display: none;
            }
        }

        @media (max-width: 1160px) {
            &>img {
                width: 100%;
            }
        }
    }

    &__image {
        position: absolute;
        z-index: 3;
        inset: 50%;

        transform: translate(-50%, 325%);
        transition: transform 0.3s ease;
        pointer-events: none;

        .gallery__link:hover+& {
            transform: translate(-50%, -50%);
        }

        @media (min-width: 320px) and (max-width: 1023.98px) {
            transform: translate(-50%, -50%);

            width: 50px;
            height: 50px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: $section-bottom-mobile;
    }
}