.header {
    padding-block: 30px;
    margin-bottom: 53px;

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 767px) {
            display: none;
        }

        @media (max-width: 570px) {
            justify-content: center;
            row-gap: 10px;
        }
    }

    &__link {
        &-reservation {
            @include link(188px, 51px, 15 30);

            @media (max-width: 767px) {
                display: none;
            }
        }

        &--active {
            cursor: default;
        }

        &--active {
            color: $orange;
        }

        &:hover {
            color: $orange;
        }
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--mobile {
            display: none;

            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 25px;

                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1000;
                overflow-y: auto;

                transform: translateX(-100vw);
                transition: transform 0.3s ease;
                background-color: rgba(33, 14, 9, 0.8);

                &.active {
                    transform: translateX(0%);
                }

                & .header__list,
                & .header__link-reservation {
                    display: flex;
                }
            }
        }

        @media (max-width: 980px) {
            flex-direction: column;
            row-gap: 25px;
        }

        @media (max-width: 767px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    @media (max-width: 768px) {
        margin-bottom: 25px;
    }
}