.menu {
    margin-bottom: 150px;

    &__subtitle-wrapper {
        width: 245px;

        margin: 0 auto 40px;

        @media (max-width: 767px) {
            margin: 0 auto 20px;
        }
    }

    &__title {
        font-family: $font-gotham-pro;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        margin-bottom: 5px;
    }

    &__gram {
        color: $orange;

        display: block;

        margin-bottom: 10px;

        @media (max-width: 500px) {
            margin-bottom: 5px;
        }
    }

    &__text {
        max-width: 351px;
        line-height: 150%;
    }

    &__item {
        max-width: 486px;
        width: 100%;
        height: 111px;
        
        display: flex;
        justify-content: space-between;

        position: relative;

        &-price {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 88px;
            height: 38px;

            border-radius: 5px;
            border: 2px solid $orange;
            background-color: transparent;

            padding: 10px 20px 10px;

            position: absolute;
            top: 0;
            right: 0;

            & span {
                font-family: $font-gotham-pro;
                font-size: 14px;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            @media (max-width: 425px) {
                width: 75px;
                height: 35px;

                padding: 10px 13px 10px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding-top: 5px;
        }

        @media (max-width: 550px) {
            flex-direction: column;
            row-gap: 10px;

            height: auto;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 56px 104px;

        max-width: 1076px;
        width: 100%;

        margin: 0 auto 96px;

        @media (max-width: 1080px) {
            grid-template-columns: 1fr;
            gap: 25px;
            justify-items: center;
        }

        @media (max-width: 500px) {
            margin: 0 auto 50px;
        }
    }

    &__button {
        width: 174px;
        height: 57px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 5px;
        border: 1px solid $orange;
        background-color: $orange;

        font-family: $font-gotham-pro;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        padding: 15px 30px;
        margin: 0 auto;

        &:hover {
            background-color: transparent;
        }

        @media (max-width: 425px) {
            width: 160px;
            height: 48px;

            font-size: 15px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 90px;
    }
}