.party {
    margin-bottom: $section-bottom;

    &__title {
        font-family: $font-gotham-pro;
        font-size: 32px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;

        width: 416px;

        margin-bottom: 50px;

        @media (max-width: 767px) {
            font-size: 25px;

            margin: 0 auto 25px;
        }

        @media (max-width: 440px) {
            width: 100%;
        }
    }

    &__accordion {
        width: 526px;

        border-radius: 5px;
        background-color: rgba(213, 98, 29, 0.1);

        padding: 20px 40px;
        margin-bottom: 20px;

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            cursor: pointer;

            & img {
                transition: transform 400ms ease;
            }
        }

        &-title {
            font-family: $font-gotham-pro;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            @media (max-width: 767px) {
                font-size: 15px;
            }
        }

        &-list {
            list-style: disc;
            list-style-position: outside;

            padding-left: 20px;

            &__item {
                line-height: 150%;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        &-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 400ms ease;
        }

        &+.party__accordion {
            margin-bottom: 20px;
        }

        &--open {
            background-color: $orange;
        }

        &--open .party__accordion-content {
            max-height: 415px;
            animation: accrodionAnswerAnimation 400ms ease-in-out;
            padding-top: 20px;
        }

        &--open .party__accordion-top {
            & img {
                transform: rotate(180deg);
            }
        }

        @media (max-width: 767px) {
            width: 100%;

            padding: 17px 25px;
        }
    }

    &__soundengineer {
        width: 415px;

        &-image {
            border-radius: 5px;

            margin-bottom: 30px;

            @media (max-width: 440px) {
                margin-bottom: 20px;
            }
        }

        &-name {
            font-family: $font-gotham-pro;
            font-weight: 700;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            display: block;

            width: 132px;

            margin-bottom: 25px;

            @media (max-width: 440px) {
                margin-bottom: 15px;
            }
        }

        &-list {
            display: flex;
            justify-content: space-between;

            &__item {
                width: 196px;

                display: flex;
                align-items: center;
                flex-direction: column;
            }

            @media (max-width: 767px) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
        }

        &-socials {
            display: flex;
            column-gap: 25px;

            &__link {
                @include link(40px, 40px, 10px)
            }

            @media (max-width: 767px) {
                column-gap: 18px;
            }
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        max-width: 1078px;
        width: 100%;

        margin: 0 auto;

        @media (max-width: 980px) {
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: $section-bottom-mobile;
    }
}

@keyframes accrodionContentAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}